<app-loading *ngIf='loading'></app-loading>

<div class="row animated fadeIn" *ngIf='!loading'>

    <div class="col-2 " >
    <img [src]="artista.images | noImage" alt="artista.name" class="img-thumbnail img-circle">

    </div>

    <div class="col">

        <h3>{{artista.name}}</h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">
                Ir a la pagina del artista
            </a>
        </p>
    </div>
    <div class="col-4 text-right">

        <button routerLink="/search" class="btn btn-outline-danger">
            Regresar
        </button>

    </div>

</div>

<div class="row m-5">
    <div class="col">
        <div class="col text-left ">

            <h4>Top tracks</h4>

        </div>

        <table class="table">

            <thead>
                <tr>
                    <th class="light">Foto</th>
                    <th class="light">Album</th>
                    <th class="light">Canción</th>
                    <th class="light">Vista previa</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let topTrack of topTracks" >
                    <td class="light">
                        <img [src]="topTrack.album.images | noImage" class="img-thumb" alt="">
                    </td>
                    <td class="light">{{topTrack.album.name}}</td>
                    <td class="light">{{topTrack.name}}</td>
                    <td class="light">

                        <iframe [src]="topTrack.uri | domseguro:'https://open.spotify.com/embed?uri='" width="250" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
